<div class="container">
    <h2>Cadastrar</h2><br>
    <form>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">ID</label>
            <div class="col-sm-10">
                <input class="form-control" type="number" name="id" [(ngModel)]="vaga.id" required>
            </div>
        </div><br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Descrição</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="descricao" [(ngModel)]="vaga.descricao" required>
            </div>
        </div><br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Salario</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="salario" [(ngModel)]="vaga.salario" required>
            </div>
        </div><br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Local</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="local" [(ngModel)]="vaga.local" required>
            </div>
        </div><br>

        <div>
            <button type="button" class="btn btn-success" (click)="cadastrar()">Cadastrar</button>
            <button type="button" class="btn btn-primary m-3" (click)="atualizar(vaga.id)">Atualizar</button>
            <button type="button" class="btn btn-warning m-1" (click)="excluir(vaga.id)">Excluir</button>
        </div>
    </form>
</div>