<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a class="nav-link px2 link-dark" aria-current="page" href="#">Home</a>
            </li>
            <li><a class="nav-link px2 link-dark" routerLink="/mural">Mural de Vagas</a>
            </li>
            <li><a class="nav-link px2 link-dark" routerLink="/painel">Cadastro de Vagas</a>
            </li>
        </ul>
    </header>
</div>